.DS_Store
.dart_tool/
pubspec.lock

.packages
.pub/

build/
.idea/
.gradle/

doc/api/*/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/.project
**/android/.settings/
*.jks
