name: examples

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  example_android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: build
        run: |
          dart pub global activate melos
          melos bootstrap
          cd example && flutter build apk --debug

  example_ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: build
        run: |
          dart pub global activate melos
          melos bootstrap
          cd example && flutter build ios --debug --no-codesign
